
/* Your CSS Code here. */
 table,tr,td,th{
            border: 1px solid black;
            text-align: center;
        
        }


        
        .table3{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .table1{
            padding-top: 20px;
            padding-bottom: 20px;
        }